<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>840658483927-nqfrsg24jl1d99tubaubuarbccnm19ei.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.840658483927-nqfrsg24jl1d99tubaubuarbccnm19ei</string>
	<key>API_KEY</key>
	<string>AIzaSyBje7yrHhCQqM9rsX9lxyMdjP7DWeUbZr0</string>
	<key>GCM_SENDER_ID</key>
	<string>840658483927</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.padcmyanmar.PADC-IOS-GameSwitch</string>
	<key>PROJECT_ID</key>
	<string>gameswitch-f5f03</string>
	<key>STORAGE_BUCKET</key>
	<string>gameswitch-f5f03.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:840658483927:ios:770c239f0478d8e7</string>
	<key>DATABASE_URL</key>
	<string>https://gameswitch-f5f03.firebaseio.com</string>
</dict>
</plist>